<div class="blog-header add-box-shadow">
  <span id="blog-heading">
    blog
  </span>
</div>

  <div class="allblogs">
    <!-- Show back button if filter applied -->
    <% if params[:tagid].present? %>
          <%= link_to "Back to all Blogs", blogs_path, 
          class: 'allblogslink' %>
    <% end %><hr>
    <!-- all blogs -->
    <% @blogs.order("created_at DESC").each do |x| %>
      <%= link_to x, :style=>'text-decoration:none' do %>
          <div class="blog_main" style="margin-bottom:100px;">
              <div class="blogdate">
                <%= x.created_at.strftime("%a, %B %d %Y") %>
              </div>
              <div class="headingandsubheading">
                <h1><%= x.title %></h1>
                <h4><%= x.sub_heading %></h4>
              </div>
              <div class="allblogtags">
                TAGS:<% x.tags.each do |x| %>
                      <%=link_to x.name, filter_path(tagid: x.id, tagname: x.name), class: 'blogtag' %>
                     <% end %> 
              </div>   
          </div>
      <% end %>
    <% end %>
  </div>
<!-- </div> -->

  <!-- <div class="allblogs"> -->
      <%#@blogs.order("created_at DESC").each do |x|%>
        <%#=link_to x, :style=>'text-decoration:none' do%>
            <!-- <div id="blog"> -->
             <!-- individual blogpost -->
                <!-- <div class="blog_main" style="margin-bottom:20px;"> -->
                  <%#=x.created_at.strftime("%a, %B %d %Y")%>
                  <!-- <div class="headingandsubheading"> -->
                    <!-- <h1 style="font-weight:100"><%#=x.title%></h1> -->
                    <!-- <h4 style="font-weight:100"><%#=x.sub_heading%></h4> -->
                  <!-- </div> -->
                <!-- </div> -->
        <%#end%>
        <!-- ending the link block (for post_path) before tag div -->
              <!-- <div class="blog_tags" style="margin-bottom:10px"> -->

                  <!-- tags for each individual post -->
                  <%#x.tags.each do |x|%>

                  <%# if x.name === "Technical" %>
                      <!-- <i class="fa fa-cogs" style="color:#337ab7"> -->
                      <!-- <span style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif"> -->
                      <!-- <%#=link_to x.name, filter_path(tagid: x.id)%></span> -->
                      <!-- </i><span style="font-family:Lato;color:black">  Technical</span> -->
                    <%# end %>
                    <!-- <span style="background-color:#CCE0ED;padding:2px 2px 2px 2px;color:gray;font-size:12px;margin:0px 5px 0px 0px;"> -->
                    <%#=link_to x.name, filter_path%>
                    <%#=link_to x.name, filter_path(tagid: x.id)%>
                    <!-- </span>        -->
                    
              <!-- </div>   -->

            <!-- </div> -->
            <%#end%>

            <!-- <hr> -->
            <!-- /individual blogpost -->
      <%#end%>
       <%#if params[:tagid].present?%>
          <!-- <span style="padding-bottom:30px;"><%#=link_to "Back", blogs_path%></span> -->
      <%#end%>
  <!-- </div> -->
  <!-- /allblogs -->


 <!--  <div class="blog-sidebar">

  </div> -->





  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74494643-1', 'auto');
  ga('send', 'pageview');

</script>


