<div class="container" color:"#141F3D">
  <div class="header" style="text-align:center">
    <h1>Blogs</h1><hr>
  </div>
  <div class="actualblog">
  <%@blogs.order("created_at DESC").each do |x|%>
    <div id="allblogs col-sm-4">

        <%=link_to x, :style=>'text-decoration:none' do%>

            <div id="blog">
              <%=x.created_at.strftime("%a, %B %d %Y")%>
                <h1><%=x.title%></h1>
                <h4><%=x.sub_heading%></h4>
                <div style="text-align:justify">
                  <%=truncate(simple_format(x.body), length:200, escape:false)%>
                </div>
            </div> <hr>

        <%end%>

    </div>
  <%end%>
  </div>

</div>