<!-- header -->
<div class="header" style="text-align:center;height:300px;background-color:black;color:white;padding-top:75px;">
  <span style="font-size:60px;vertical-align:middle;border:2px solid white;letter-spacing:5px;padding-left:10px;padding-right:10px;padding-bottom:5px;font-weight:100">Blog</span>
</div><br>


<!-- surrounds all blogposts -->
<div class="container">


  <div class="allblogs">
      <%@blogs.order("created_at DESC").each do |x|%>
        <%=link_to x, :style=>'text-decoration:none' do%>
            <div id="blog">
             <!-- individual blogpost -->
             <div class="blog_main" style="margin-bottom:20px;">
                <%=x.created_at.strftime("%a, %B %d %Y")%>
                <div class="headingandsubheading">
                <h1 style="font-weight:100"><%=x.title%></h1>
                <h4 style="font-weight:100"><%=x.sub_heading%></h4>
                </div>
                <div class="blog_post_body">
                <%=truncate(simple_format(x.body), length:200, escape:false)%>
                </div>
              </div>
        <%end%>
        <!-- ending the link block (for post_path) before tag div -->
              <div class="blog_tags">
                  <!-- tags for each individual post -->
                  <%x.tags.each do |x|%>
                    <span style="background-color:#CCE0ED;padding:2px 2px 2px 2px;color:gray;font-size:12px;margin:0px 5px 0px 0px;">
                      <%#=link_to x.name, filter_path%>
                      <%=link_to x.name, filter_path(tagid: x.id)%>
                    </span>
                  <%end%>
              </div>
            </div><hr>
            <!-- /individual blogpost -->
      <%end%>
       <%if params[:tagid].present?%>
          <span style="padding-bottom:30px;"><%=link_to "Back", blogs_path%></span>
      <%end%>
  </div>
  <!-- /allblogs -->


 

</div>
<!-- /container -->


