<!-- BLOG SHOW PAGE -->

<div class="container"> 
<hr>

  <div class="col-sm-12">
      
      <!-- blog heading and subheading -->
      <div class="blogheading-showpage">
          <h1 style="letter-spacing:2px;font-size:50px;">
            <%=@blog.title%>
          </h1>
          <h5 style="word-spacing:3px;letter-spacing:1px;">
            <%= @blog.sub_heading %>
          </h5>
      </div>
  
      <!-- blog date -->
      <div class="blogdate-showpage">
          <% if @blog.updated_at.strftime("%a %B %d %Y") != @blog.created_at.strftime("%a %B %d %Y") %>
                This blog post was published in 
                  <span class="blogdate-showpage-actual-date">
                    <%= link_to @blog.created_at.strftime("%B %Y"), 
                                blogs_path(:filterbydate => @blog.created_at.strftime("%B%Y"))%>
                  </span>, 
                <span style="font-style:italic !important"> 
                and would later be edited in
                  <span class="blogdate-showpage-actual-date">
                    <%= link_to @blog.updated_at.strftime("%B %Y"), 
                                blogs_path(:filterbydate => @blog.updated_at.strftime("%B%Y"))%>
                  </span>
              </span>
          <% else %>
              This blog post was published in 
                  <span class="blogdate-showpage-actual-date">
                    <%= link_to @blog.created_at.strftime("%B %Y"), 
                                blogs_path(:filterbydate => @blog.created_at.strftime("%B%Y"))%>
                  </span>
          <% end %>
      </div>


      <!-- blog tags -->
      <div>
        <span style="font-weight:100;text-transform:uppercase">
          Tagged Under: 
        </span>
        <% @blog.tags.each do |x| %>

          <span class="blogtag-show">
            <%= link_to x.name, filter_path(:tagid => x.id, :tagname=> x.name) %>
          </span>

        <% end %>
      </div>

      <hr>  
      
      <!-- blog body -->
      <div class="blog_post_body">
        <%=Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, space_after_headers: true, fenced_code_blocks: true).render(@blog.body).html_safe%>
      </div>


      <!-- Footer -->
      <span class="back-to-all-blogs">
        <%=link_to "Back to all blogs", blogs_path%>
      </span>

      <hr>
      
      <!-- Next and previous links -->
      <div class="next-and-prev-container">
        <div class="prev-container">
          <%if @blog.previous.present?%>
            <span class="button fa fa-angle-left"></span>
            <%=link_to @blog.previous do %>
              Previous Post<%#= @blog.previous.title %>
            <%end%>
          <%end%>
        </div>
        <div class="next-container">
          <%if @blog.next.present?%>
            <%=link_to @blog.next do %>
            Next Post
            <span class="button fa fa-angle-right"></span>
            <%#= @blog.next.title %>
            <%end%>
          <%end%>
        </div>
      </div>

      <!-- diquss comments -->
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'i-fullstack';
          
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>
  <!--/ col-sm-8 -->



<!-- <div class="col-sm-2">
</div> -->

</div>
<!-- /container -->



<!--  google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74494643-1', 'auto');
  ga('send', 'pageview');

</script>

