<div class="container"> 

<!--   <div class="col-sm-2">
  </div> -->


  <div class="col-sm-12">
      <div style="text-align:center;margin-bottom:30px;border:1px solid black;margin-top:5px;padding-bottom:15px;">
        <h1 style="letter-spacing:2px;font-weight:100;font-size:50px;color:#141F3D"><%=@blog.title%></h1>
        <h5 style="font-weight:200;word-spacing:3px;letter-spacing:1px;"><%=@blog.sub_heading%></h5>
      </div>
      <div style="font-weight:200">
      <% if @blog.updated_at.strftime("%a %B %d %Y") != @blog.created_at.strftime("%a %B %d %Y") %>
        <%= @blog.created_at.strftime("%B %Y") %></div>
        <span style="font-style:italic !important"> 
          Edited: <%= @blog.updated_at.strftime("%a %B %d %Y") %> 
        </span>
        <% else %>
         <%= @blog.created_at.strftime("%a %B %d %Y") %></div>
      <% end %>
      <br><br><br>
      <div class="blog_post_body">
        <%#=simple_format(@blog.body)%>
        <%#=simple_format(@blog.body, {}, :sanitize => false)%>
        <%#=Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, space_after_headers: true, fenced_code_blocks: true).render("fasj;sjlf;sajkfl;sjafl; saf1 ```<h1> safasfsa</h1> \<\%\= fsf \%\>``` fldskajflasf ").html_safe%>
        <%=Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, space_after_headers: true, fenced_code_blocks: true).render(@blog.body).html_safe%>
        <%#=markdown.render("hello")%>
      </div>
      <%=link_to "Back", blogs_path%>
      <hr>
      
      <div class="next-and-prev-container">
        <div class="prev-container">
          <%if @blog.previous.present?%>
            <span class="button fa fa-angle-left"></span>
            <%=link_to @blog.previous do %>
              Previous Post<%#= @blog.previous.title %>
            <%end%>
          <%end%>
        </div>
        <div class="next-container">
          <%if @blog.next.present?%>
            <%=link_to @blog.next do %>
            Next Post
            <span class="button fa fa-angle-right"></span>
            <%#= @blog.next.title %>
            <%end%>
          <%end%>
        </div>
      </div>

      <!-- diquss comments -->
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'i-fullstack';
          
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>
  <!--/ col-sm-8 -->



<!-- <div class="col-sm-2">
</div> -->

</div>
<!-- /container -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74494643-1', 'auto');
  ga('send', 'pageview');

</script>

