    <div class="center top">
        <div id="myname" style="background-color:black;font-weight:100;letter-spacing:20px;height:70vh;padding-top:100px;">
            <span style="border:1px solid white;padding:2px 20px 2px 30px;">Tabish Khan</span><br>
            <!-- <span id="myposition">Full Stack Web Developer</span> -->
        </div> 
        <div id="contactme" style="background-color:white;">
            <a href="https://github.com/tkhan003">
            <i class="fa fa-github-square link"></i> 
            </a>
            <a href="https://www.linkedin.com/in/ifullstack">
            <i class="fa fa-linkedin-square link"></i><hr>
            </a> 
        </div>
    </div>

    <div>
        <!-- <img src="/assets/images/sqlite.png"> -->
        <!-- <img src="/images/sqlite.png"> -->
        <!-- <img alt="sql image" src="/assets/sqlite.png" /> -->
            <!-- <img src="/assets/id_added.png" /> -->

        <%#=image_tag 'sqlite.png'%>
    </div>


<div class="color" style="background-color:white">
     <div class="logos hideme center"> 
        <div class="row">
            <div class="col-md-2 padme"><%=image_tag('rails.jpg', class:'logosize border2logo')%></div>
            <div class="col-md-2 padme"><%=image_tag('javascript.png', class:'logosize')%></div>
            <div class="col-md-2 padme"><%=image_tag('ruby.png', class:'logosize')%></div>
            <div class="col-md-2 padme"><%=image_tag('postgresql.png', class:'logosize')%></div>
            <div class="col-md-2 padme"><%=image_tag('html.png', class:'logosize')%></div>
            <div class="col-md-2 padme"><%=image_tag('css.png', class:'logosize')%></div>
        </div>
        <div class="row">
            <div class="col-md-2 middleme padme"><%=image_tag('jquery.png', class:'logosize2')%></div>
            <div class="col-md-2 middleme padme"><%=image_tag('git.png', class:'logosize2')%></div>
            <div class="col-md-2 middleme padme"><%=image_tag('sqlite.png', class:'logosize2')%></div>
            <div class="col-md-2 middleme padme"><%=image_tag('ajax.png', class:'logosize2')%></div>
            <div class="col-md-2 middleme padme"><%=image_tag('heroku.png', class:'logosize2')%></div>
            <div class="col-md-2 padme middleme"><%=image_tag('omniauth.png', class:'logosize2')%></div>
        </div>
        <div class="row">
            <div class="col-md-6 middleme padme"><%=image_tag('rspec.png', class:'logosize')%></div>
            <div class="col-md-6 middleme padme"><%=image_tag('react.png', class:'logosize3')%></div>
            
        </div>

           <div class="skills">
        <div class="skillheader">Active Skills<hr></div>

        <div class="skillnote">
        <i class="fa fa-cog fa-spin fa-x"></i> 
      
        </div>

    </div>


    </div>



 


    </div>
</div>





   








