
 <div id="sidebaricon"> &#9776;
<div id="mycompany">
         #iFullStack™
        </div>

</div>


    <div class="center top">
        <div id="myname">
            Tabish Khan
            <div id="myposition">Full Stack Web Developer</div>
        </div> 
        <div id="contactme">
            <a href="https://github.com/tkhan003">
            <i class="fa fa-github-square fa-2x link"></i> 
            </a>
            <a href="https://www.linkedin.com/in/ifullstack">
            <i class="fa fa-linkedin-square fa-2x link"></i><hr>
            </a> 
        </div>
    </div>

    


<div class="color">
     <div class="logos hideme center"> 
        <div class="row">
            <div class="col-md-2 padme"><%=image_tag('rails.jpg', class:'logosize border2logo')%></div>
            <div class="col-md-2 padme"><%=image_tag('javascript.png', class:'logosize')%></div>
            <div class="col-md-2 padme"><%=image_tag('ruby.png', class:'logosize')%></div>
            <div class="col-md-2 padme"><%=image_tag('postgresql.png', class:'logosize')%></div>
            <div class="col-md-2 padme"><%=image_tag('html.png', class:'logosize')%></div>
            <div class="col-md-2 padme"><%=image_tag('css.png', class:'logosize')%></div>
        </div>
        <div class="row">
            <div class="col-md-2 middleme padme"><%=image_tag('jquery.png', class:'logosize2')%></div>
            <div class="col-md-2 middleme padme"><%=image_tag('git.png', class:'logosize2')%></div>
            <div class="col-md-2 middleme padme"><%=image_tag('sqlite.png', class:'logosize2')%></div>
            <div class="col-md-2 middleme padme"><%=image_tag('ajax.png', class:'logosize2')%></div>
            <div class="col-md-2 middleme padme"><%=image_tag('heroku.png', class:'logosize2')%></div>
            <div class="col-md-2 padme middleme"><%=image_tag('omniauth.png', class:'logosize2')%></div>
        </div>

           <div class="skills">
        <div class="skillheader">Active Skills<hr></div>

        <div class="skillnote">
        <i class="fa fa-cog fa-spin fa-4x"></i> 
        <div class="skillnotewords">           
        I continue to improve with these tools everyday!
        </div>
        </div>

    </div>


    </div>



 


    </div>
</div>





   








