
 <div id="sidebaricon"> &#9776;
</div>

    <div class="center top">
        <div id="myname">
            <strong>Tabish Khan</strong><hr>
        </div> 
        <div id="contactme">
    <a href="https://github.com/tkhan003"></a><i class="fa fa-github-square fa-2x link"></i> 
    <a href="https://ca.linkedin.com/in/ifullstack"></a><i class="fa fa-linkedin-square fa-2x link"></i><hr> 
         </div>
    </div>

     <div id="mycompany">
         #iFullStack™
        </div>

<div class="color">
     <div class="logos hideme center"> 
          <div class="row">
            <div class="col-md-3 padme"><%=image_tag('rails.jpg')%></div>
            <div class="col-md-3 padme"><%=image_tag('postgresql.png')%></div>
            <div class="col-md-3 padme"><%=image_tag('ruby.png')%></div>
            <div class="col-md-3 padme middleme"><%=image_tag('omniauth.png')%></div>
        </div>
        <div class="row">
            <div class="col-md-3 middleme padme"><%=image_tag('sqlite.png')%></div>
            <div class="col-md-3 middleme padme"><%=image_tag('git.png')%></div>
            <div class="col-md-3 padme"><%=image_tag('javascript.png')%></div>
            <div class="col-md-3 middleme padme"><%=image_tag('jquery.png')%></div>
        </div>
        <div class="row">
            <div class="col-md-3 padme"><%=image_tag('css.png')%></div>
            <div class="col-md-3 middleme padme"><%=image_tag('ajax.png')%></div>
            <div class="col-md-3 padme"><%=image_tag('html.png')%></div>
            <div class="col-md-3 middleme padme"><%=image_tag('heroku.png')%></div>
    </div>

    <div class="skills">
    <div class="skillheader">ACTIVE SKILLS<br></div>
    <i class="fa fa-cog fa-spin"></i>
    <div class="skillnote">
    I am continually improving in each of these aspects as well as adding new skills to my toolbelt
    </div>
    </div>

</div>



   







